<div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="row page-header">
            <div class="col-md-8">
               <h1>
                  Dashboard
               </h1>
            </div>
            <div class="col-md-12">
               <a routerLink="/metrics">
                  <h4>Details for HTTP Request/Response</h4>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div>
      <div class="suggestions" *ngIf="metricList.length == 0">
         <h4>No Metrics found.Please try again later. </h4>
      </div>
      <ul>
         <li *ngFor ="let status of metricList">
            <p>  For Status Code  {{status.httpCode}}   Count is   {{status.count}} </p>
         </li>
      </ul>
   </div>
   <br>
   <div class="col-md-2 col-sm-2">
      <button type="button" class="btn btn-primary" routerLink="/home">Back to home</button>
   </div>
</div>

