<div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="page-header">
            <h1>
               Welcome to KLM !!
            </h1>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-sm-12 features">
      <h4>To know about latest offers , please click on below link </h4>
      <a routerLink="/flightsearch"><span>FLIGHT OFFER SEARCH</span></a>
   </div>
   <div class="col-md-12 col-sm-12 features">
      <h4>To know about system metrics , please click on below link </h4>
      <a routerLink="/metrics"><span>METRICS</span></a>
   </div>
</div>

