

<div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="row page-header">
            <div class="col-md-8">
               <h4>
                  Fare  Details
               </h4>
            </div>
            <div class="col-md-12">
               <a routerLink="/flightsearch">
                  <span style="font-size:20px">Please select arrival and departure to display the fares</span>
               </a>
            </div>
         </div>
      </div>
   </div>
   <br>
   <div class="column">
      <label for="arrival"><b>Arrival</b></label><span style="color:red"> *</span>
      <input id="arrival" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter() required #arrival="ngModel" style="
    margin-left: 30px">
      <div *ngIf="arrival.invalid"> 
        <span style="font-size:12px"> Arrival is required. </span>
       </div>
   </div>
   <div class="suggestions" *ngIf="filteredList.length > 0">

      <ul *ngFor="let item of filteredList" >
         <li >
            <a (click)="select(item)">{{item}}</a>
         </li>
      </ul>
   </div>

   <div class="column">
      <label for="departure"><b>Departure</b></label><span style="color:red"> *</span>
      <input id="departure" type="text" class="validate filter-input" [(ngModel)]=destination (keyup)=filterDestination() required #departure="ngModel" style="margin-left:5px">
   
   <div *ngIf="departure.invalid"> 
       <span style="font-size:12px"> Departure is required. </span>
       </div>
    </div>
   <div class="suggestions" *ngIf="destinationList.length > 0">
      <ul *ngFor="let destination of destinationList" >
         <li >
            <a (click)="selectDestination(destination)">{{destination}}</a>
         </li>
      </ul>
   </div>
   <br>
   <div class="col-md-2 col-sm-2">
      <button type="button" class="btn btn-success btn-block" (click)="getFare()">
      Get Fares
      </button>
   </div><br>
   <div>
      <div class="suggestions" *ngIf="showTable && fareList.length==0 && destination !== 'undefined' && query !=='undefined' ">
         <h4>No Offer available.Please try again later. </h4>
      </div>
      <div class="suggestions" *ngIf="fareList.length > 0">
         <ul>
            <li *ngFor ="let fares of fareList">
               <table class="table table-bordered">
                  <tr>
                     <th>Departure</th>
                     <th>Arrival</th>
                     <th>Fare</th>
                  </tr>
                  <tr *ngFor="let fares of fareList; let i = index">
                     <td> {{fares.origin.name}}</td>
                     <td>{{fares.destination.name}}</td>
                     <td>{{fares.fare.amount}}</td>
                  </tr>
               </table>
            </li>
         </ul>
      </div>
   </div>
   <br>
   <br>
   <div class="col-md-2 col-sm-2">
      <button type="button" class="btn btn-primary" routerLink="/home">Back to home</button>
   </div>
</div>

